* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1495_770 {
  width: 100%;
  height: 1080px;
  background: rgba(221,226,238,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1495_2879 {
  width: 835px;
  height: 281px;
  background: url("../images/v1495_2879.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 399px;
  left: 833px;
  overflow: hidden;
}
.v1495_2878 {
  width: 496px;
  height: 196px;
  background: url("../images/v1495_2878.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 339px;
  overflow: hidden;
}
.v1495_801 {
  width: 496px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 75px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1495_805 {
  width: 496px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 0.699999988079071;
  text-align: left;
}
.v1495_806 {
  width: 496px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 150px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 48px;
  opacity: 0.699999988079071;
  text-align: left;
}
.v1495_2877 {
  width: 281px;
  height: 281px;
  background: url("../images/v1495_2877.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1495_2880 {
  width: 416px;
  height: 903px;
  background: url("../images/v1495_2880.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.25;
  position: absolute;
  top: 1893px;
  left: 204px;
  overflow: hidden;
}
.v1495_2881 {
  width: 416px;
  height: 903px;
  background: url("../images/v1495_2881.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1495_2882 {
  width: 416px;
  height: 903px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1495_2883 {
  width: 487px;
  height: 933px;
  background: url("../images/v1495_2883.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 79px;
  overflow: hidden;
}
.v1495_2884 {
  width: 316px;
  height: 910px;
  background: url("../images/v1495_2884.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 67px;
  overflow: hidden;
}
.v1495_2885 {
  width: 372px;
  height: 880px;
  background: rgba(41,41,41,1);
  opacity: 0.46000000834465027;
  position: absolute;
  top: 5px;
  left: 118px;
}
.v1495_2887 {
  width: 416px;
  height: 903px;
  background: url("../images/v1495_2887.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 204px;
  overflow: hidden;
}
.v1495_2888 {
  width: 416px;
  height: 903px;
  background: url("../images/v1495_2888.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1495_2889 {
  width: 416px;
  height: 903px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1495_2890 {
  width: 487px;
  height: 933px;
  background: url("../images/v1495_2890.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 79px;
  transform: rotate(-7deg);
  overflow: hidden;
}
.v1495_2891 {
  width: 316px;
  height: 910px;
  background: url("../images/v1495_2891.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 67px;
  transform: rotate(-7deg);
  overflow: hidden;
}
.v1495_2892 {
  width: 372px;
  height: 880px;
  background: rgba(41,41,41,1);
  opacity: 0.46000000834465027;
  position: absolute;
  top: 6px;
  left: 118px;
}
